<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    
      <a class="navbar-brand" href="/"><img src="/assets/logo5.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Expert Login</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Local Experts">
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="">"Quickbooks experts in Vancouver"</a></li>
        <li><%= @expert.name %></li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/400x400" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1><%= @expert.name %></h1>

      <div class="thumbnail badge">
        <span>
        <% if @expert.rating %>
          <%= @expert.rating %>
        <% else %>
          <span class="no-rating">no reviews</span>
        <% end %>
          </span>
      </div>

      <div class="thumbnail badge">
      <span>$<%= @expert.hourly_rate.to_i %>/hr</span>
      </div>

      <% @expert.skills.each do |skill| %>
        <div class="alert alert-success tags" role="alert">
        <%= skill %>
        </div>
      <% end %>

    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-8">
      <%= @expert.bio %>
    </div>
  </div>


    <div class="row col-sm-12">
    <h1>Reviews</h1>
      <% @expert.reviews.each do |review| %>
        <div class="review">
          <h3>
          <% if review.rating == 1 %>
            <img src="/assets/icons/happy.png"></h3>
          <% else %>
          
           <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
        </div>
      <% end %>
  </div>
<% end %>

</div>
<div class="spacer"></div>