
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    
      <a class="navbar-brand" href="/"><img src="/assets/logo5.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Expert Login</a></li>
      </ul>

       <form method="post" class="navbar-form navbar-right" role="search" action="/search">
        <div class="form-group">
          <input type="search" name="search" class="form-control" id="search" placeholder="Find Local Experts">
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="container results text-center">

<h2>Local <%= @terms.first.capitalize %> Experts</h2>
<div class="spacer"></div>



<!-- THIS IS THE LOOP -->
<% if @experts.length > 0 %>
<% @experts.each do |expert| %>
 
     <div class="col-sm-4 col-md-3">
     <a href="/expert/<%= expert.id %>" >
      <div class="thumbnail">
             <img src="<%= expert.avatar.thumb.path[/\/public.+[^"']/] %>" class="img-responsive">
        <p><span class="name"><%= expert.name %></span></p> 
        <p><span class="rating">
        <% if expert.rating %>
          <%= (expert.rating * 100).to_i %>%
        <% else %>
          -- 
        <% end %>
        </span> | <span class="wage">
        <% if expert.hourly_rate %>
          $<%= expert.hourly_rate.to_i %>/hr
        <% else %>
          --
        <% end %>
          </span></p>
      </div>
    </a>
    </div>



<% end %>
<% else %>
<p><em>No search results found for <%= @terms.join(' ') %> experts </em></p>
<% end %>
